
/*------------PAGE about me---------------*/
.btn-floating {
	margin-top:20%;
}
/*foto*/
.fotografia{
 width:100%;
 height: 100%;
}

.fotografia img{
 width:90%;
 height:90%;
}

.titulo{
	font-family: 'Cedarville Cursive', cursive;
	font-size:2vw;
}

.btn-flat{
	/*width:130px;
	height: 130px;
	border-radius: 50%;*/
	text-align: center;
	font-family: 'Cedarville Cursive', cursive;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color:burlywood;*/
	opacity: 0.8;
	
	
}

/*.img-btn{
	width:20px;
	height: 30px;
	
}*/
.contacto{
	   display: flex;
	flex-direction: column;
	 justify-content: center;
	align-items: center;
}

#modal1{
	background-image: url(../assets/img/pine.jpg);	
}
.letra-cursiva{
	font-family: 'Cedarville Cursive' cursive;
}
/*texto*/

.texto{
 font-family: 'Cedarville Cursive' cursive;
 font-size: 1.4vw;
 transform: rotate(3deg);
 padding: 15%;
 width: 100%;
 height:100%;
 border-radius:1%;
 margin-top: 10%;
}

.notas{
 display: none;
}
/*version mobile*/

@media only screen and (max-width: 500px) {

.notas img{	
 width:7%;
 height: 7%;
 margin-left:12%; 
}
.texto {
 width:100%;
 height:100%;
 padding: 2%;
 margin-top: 5%;
 transform: rotate(0deg);
 font-size:6.5vw;
 text-align: center;
 }
.btn-floating{
	font-size: 5vw;
}

 .fotografia img{
  display:none;  
}
 .notas{
  display: inline;
 }
	.notas:hover{
    
	}

	
	
	/*termina version mobile
	/*------------PAGE about me---------------*/
