	/* -------------COLORES-------------- */

.verde {
	color: #91bd8f;
}

.durazno {
	color: #FFE4B5;
}

.rosa {
	color: #f6b4c9;
}

.bg-verde {
	background-color: #91bd8f;
}

.bg-durazno {
	background-color: #FFE4B5;
}

.bg-rosa {
	background-color: #f6b4c9;
}


/*------------PAGE about me---------------*/
.btn-floating {
	margin-top:20%;
}
/*foto*/
.fotografia{
 width:100%;
 height: 100%;
}

.fotografia img{
 width:90%;
 height:90%;
}

/*texto*/

.texto{
 font-family: 'Cedarville Cursive', cursive;
	font-size: 1.4vw;
 transform: rotate(3deg);
 padding: 15%;
 width: 100%;
 height:100%;
 border-radius:1%;
 margin-top: 40%;
}

/*version mobile*/

@media only screen and (max-width: 500px) {
 .img-texto{
 display:inline-block;
}
	.circular {
		width: 150px;
		height: 150px;
	}
	.texto {
		padding: 10%;
		margin-top: 5%;
	}
	/*termina version mobile*/
	/*------------PAGE about me---------------*/
