/*------------PAGE HOME---------------*/

html,
body {
	margin: 0;
	height: 100vh;;
	background-color: #FFDEAD;
	font-family: 'Cedarville Cursive',
}
/*sección central*/

.titulo-nombre {
	display: flex;
	align-content: center;
	justify-content: center;
	font-family: 'Cedarville Cursive', cursive;
	font-size: 8vw;
}


/*
			 -------------COLORES-------------- 

.verde {
	color: #91bd8f;
}

.durazno {
	color: #FFE4B5;
}

.rosa {
	color: #f6b4c9;
}

.bg-verde {
	background-color: #91bd8f;
}

.bg-durazno {
	background-color: #FFE4B5;
}

.bg-rosa {
	background-color: #f6b4c9;
}
			*/	
/*menú lateral*/

.btn-floating {
	margin:3%;
	padding-top: 0.3%;
	font-size: 1.5vw;
}

#sidenav-overlay {
	background-color: transparent;
}

.side-nav {
	background-image: url(../assets/img/pine.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 24%;
	padding-top: 7%;
}

.side-nav li>a {
	font-family: 'Cedarville Cursive', cursive;
	font-size: 2vw;
	margin-top: 2%;
	text-align: center;
}

.side-nav li>a:hover{
	background-color: transparent;
}

.flor {
	width: 100%;
	height: 100%;
	margin-left: 18%;
}

.flor img {
	width: 60%;
	height: 60%;
	transform: rotate(90deg);
}

.btn-menu {
	background-image: url(../assets/img/pine.jpg);
}


			/* efecto para menu de navegación */

.btn-nav {
	background-image: linear-gradient(pink, #e6ee9c), linear-gradient(transparent, transparent);
	background-size: 0 5px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all .2s ease-out;
}

.btn-nav:hover{
	background-size: 80% 5px, auto;
}


			/*termina menu lateral*/
.typewriter h3 {
  overflow: hidden; 
  border-right: .15em solid #f06292;
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f06292; }
}






			/*versión mobile home*/

@media only screen and (max-width: 500px) {
	.side-nav {
		padding-top: 35%;
		width: 100%;
		background-color: #fff9c4;
	}
	.side-nav li>a {
		font-size: 9vw;
		text-align: center;
	}
	.titulo-nombre{
		margin-top: 50%;
	}
	.flor img {
		width: 60%;
		height: 60%;
		transform: rotate(90deg);
		margin-left: 6%;
	}
	.btn-floating{
	font-size: 5vw;
}
	h3{
		font-size: 7vw;
	}
}
	
	/*termina versión mobile home*/
	/*------------TERMINA HOME---------------*/

	