/*secciones:*/
html,body{
    margin:0;
    /*height: 100vh;
    position: relative;*/
  }
/*home*/
.titulo{
	display: flex;
	align-content: center;
	justify-content: center;
	font-family: 'Cedarville Cursive', cursive;
	font-size: 8vw;
}

/*termina home*/

/*menú lateral*/
.btn-floating {
	margin: 3%;
	padding-top:0.3%;
	font-size: 1.5vw;
}

#sidenav-overlay {
	background-color: transparent;
}

.side-nav {
	width: 24%;
	padding-top: 10%;
}

.side-nav li>a {
	font-family: 'Cedarville Cursive', cursive;
	font-size: 2vw;
	margin-top: 2%;
}
.side-nav li>a:hover {
    background-color: transparent;
}

/* efecto para menu de navegación */
.btn-nav{
  background-image: linear-gradient(pink,#e6ee9c), linear-gradient(transparent,transparent);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.btn-nav:hover {
  background-size: 80% 5px, auto;
}

/*termina menu lateral*/

/*versión mobile home*/
@media only screen and (max-width: 500px) {
	
	.side-nav {
		padding-top: 35%;
		width: 100%;
		background-color: #fff9c4;
	}
	.side-nav li>a {
		font-size: 9vw;
		text-align: center;
	}
	
	.titulo{
		margin-top:50%; 
	}
	
/*termina versión mobile home*/
	