
.letra{
    font-family: 'Cedarville Cursive'; 
}

.card .card-content{
   font-family: 'Cedarville Cursive'; 
	background-image: url(../assets/img/pine.jpg);
	
}

.card .card-content .card-title {
  text-align: center;
}

a{
	color:white;
	/*font-size: 1vw;*/
}

i{
	color:deeppink;
}

.card .card-reveal .card-title {
  font-family: 'Cedarville Cursive';
}
.card .card-reveal  {
background-image: url(../assets/img/pine.jpg);
  
}

footer i{
 color:hotpink;
 
}

p{
	font-family: 'Poiret One', cursive;
	font-size: 7vw;
	font-weight: bold;
}