<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Me</title>
	<!--links-->
	<link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/aboutMe.css">
</head>
   <section class="container">
   	 <div class="row">
   	 	<div class=" col s3 m3 offset-s3 offset-m4">
   	 		<img class=" circular responsive-img> "src="../assets/img/puerta.jpg" alt="fotografia-entre-ramas">
   	 	</div>
   	 </div>
   	 <div class="row ">
   	 	<div class=" texto col s3 m3 offset-s3 offset-m4 ">
   	 		<p>
   	 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ratione quasi quam commodi consequuntur modi possimus error sed ducimus mollitia debitis aperiam ab, maiores minima assumenda obcaecati cupiditate laboriosam hic.
   	 		</p>
   	 	</div>
   	 </div>
   </section>
   
<body>


	<!--js-->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	<script src="../js/app.js"></script>
</body>

</html>
