<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Me</title>
	<!--links-->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/aboutMe.css">
</head>

<body>
	<!--Menú lateral-->

	<ul id="slide-out" class="side-nav">
		<div class="userView">
			<li><a href="../index.html" class="btn-nav">Inicio</a></li>
			<li><a href="../views/aboutMe.html" class="btn-nav">Acerca de mi</a></li>
			<li><a href="../views/skills.html" class="btn-nav">Habilidades</a></li>
			<li><a href="../views/projects.html" class="btn-nav">Proyectos</a></li>
			<div class="flor">
				<img src="../assets/img/flores.png" alt="">
			</div>
		</div>
	</ul>



	<!--termina Menú lateral-->
	<section class="container-fluid contenedor img-texto contenedor">
		<div class="row">
			<div class="col m1">
				<a href="#" data-activates="slide-out" class=" btn-menu button-collapse btn-floating btn-large waves-effect waves-light white pink-text">❤</a>
			</div>

			<!--fotografia-->
			<div class=" col m5 s5 offset-s2 fotografia">
				<img class="responsive-img " src="../assets/img/suefloripondia.png" alt="fotografia">
			</div>

			<!--texto-->
			<div class="ctn-texto col s10 offset-s1 m4 offset-m1">
				<div class="titulo center type-text typewriter">
					<h3>Acerca de mi</h3>
				</div>
				<p class="texto bg-durazno textbox">

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ratione quasi quam commodi consequuntur modi possimus error sed ducimus mollitia debitis aperiam ab, maiores minima assumenda obcaecati cupiditate laboriosam hic.
				</p>

				<!--contacto-->
				<div class="ctn-btn">
					<a class="col s8 offset-s2 m4 offset-m3 btn-flat" href="#modal1">CONTACTO
				<!--<img class="img-btn" src="../assets/img/mariposa.png" alt="">--></a>
				</div>	
</div>
</div>
	
		
				<div class="container">
					<div class="row">
						<div id="modal1" class="modal col m5 offset-m2 s12">
				<div class="modal-content">
					<div class="contacto">
						<p class="white-text letra-cursiva">Contacto</p>
						<!--telefono-->
						<img src="../assets/img/001-close-envelope.png" alt="corre">
						<a class=" letra-cursiva" href="mailto:sueherrera30@gmail.com">mail</a><br>

						<!--mail-->
						<img src="../assets/img/002-telephone.png" alt="tel">
						<a class="letra-cursiva" href="tel://5551005755">telefono</a>
						
					</div>
				</div>
				
					<a href="#!" class="modal-action modal-close btn-flat"><i class="material-icons right pink-text col m2 s3">close</i></a>
				
            </div>
					</div>
				</div>
		<div class="notas">
			<img src="../assets/img/64avo.png" alt="">
			<img src="../assets/img/mariposa.png" alt="">
			<img src="../assets/img/corcheas.png" alt="">
			<img src="../assets/img/sol.png" alt="">

		</div>
	</section>

	<!--js-->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	<script src="../js/app.js"></script>
</body>

</html>
