<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Skills</title>
	<!--links-->
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/projects.css">
</head>

<body>
	<!--Menú lateral-->

	<ul id="slide-out" class="side-nav">
		<div class="userView">
			<li><a href="../index.html" class="btn-nav">Inicio</a></li>
			<li><a href="../views/aboutMe.html" class="btn-nav">Acerca de mi</a></li>
			<li><a href="../views/skills.html" class="btn-nav">Habilidades</a></li>
			<li><a href="../views/projects.html" class="btn-nav">Proyectos</a></li>
			<div class="flor">
				<img src="../assets/img/flores.png" alt="">
			</div>
		</div>
	</ul>


	<!--termina Menú lateral-->
	<section class="container-fluid img-texto">
		<div class="row">
			<div class="col m1">
				<a href="#" data-activates="slide-out" class=" btn-menu button-collapse btn-floating btn-large waves-effect waves-light white pink-text">❤</a>
			</div>

			<div class="titulo center typewriter letra">
			   	 <h3>Proyectos</h3>
			</div>
		</div>
	</section>
	
	
	<!--zona de proyectos-->
<div class="container">
	<div class="row">
		<div class="col m3 offset-m1">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../assets/img/lyft.PNG">
				</div>
				<div class="card-content">
					<span class=" letra card-title activator grey-text text-darken-4">lyft<i class="material-icons right">more_vert</i></span>
					<p><a href="https://sueherrera30.github.io/Proyecto-Lyft-Bravo/">Visita sitio</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">LYFT<i class="material-icons right">close</i></span>
					<p>replica de página web lyft.</p>
				</div>
			</div>
		</div>
		
		<div class="col m3 offset-m1">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../assets/img/labcar.PNG
					">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">labcar<i class="material-icons right">more_vert</i></span>
					<p><a href="https://sueherrera30.github.io/lab-car-sue/">visita sitio</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">LabCar<i class="material-icons right">close</i></span>
					<p>Maquetación de un sitio web de transporte privado.</p>
				</div>
			</div>
		</div>
		
		<div class="col m3 offset-m1">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../assets/img/ubicacionTacos.PNG
					">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">taquitos <i class="material-icons right">more_vert</i></span>
					<p><a href="https://sueherrera30.github.io/restaurantes-sue/">visita página</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Los mejores taquitos de cdmx:<i class="material-icons right">close</i></span>
					<p>Ejercicio de ubicación de lugares para comer tacos en la CDMX; Utilizando </p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col m3 offset-m1">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../assets/img/bootstrap.PNG
					">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">bootstrap<i class="material-icons right">more_vert</i></span>
					<p><a href="https://sueherrera30.github.io/freelancer-de-sue-con-grids/">Visita sitio</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Start bootstrap:<i class="material-icons right">close</i></span>
					<p>replica de pagina web usando grid</p>
				</div>
			</div>
		</div>
		
		<div class="col m3 offset-m1">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../assets/img/pokemon.PNG">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">pokedex<i class="material-icons right">more_vert</i></span>
					<p><a href="https://sueherrera30.github.io/pokemons-json-sue/public/#!">Visita sitio</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Pokedex<i class="material-icons right">close</i></span>
					<p>ejercicio de almacenamiento de datos utilizando Apis y Ajax.</p>
				</div>
			</div>
		</div>
		
		<div class="col m3 offset-m1">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../assets/img/mundosMagicos.PNG"
					>
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">mundos mágicos<i class="material-icons right">more_vert</i></span>
					<p><a href="https://sueherrera30.github.io/mundos-magicos/#conetenedor-general">Visita sitio</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Mundos Mágicos<i class="material-icons right">close</i></span>
					<p>Proyecto desarrollado en hakatón #comoNiña; acredor a segundo lugar.</p>
				</div>
			</div>
		</div>
	</div>
</div>
																										
            


	<!--js-->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	<script src="../js/app.js"></script>
</body>

</html>
